# Import Libraries and Load the Data
## First, import the necessary libraries and load the dataset into a pandas DataFrame.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
import datetime

# Load the Data

In [2]:
df = pd.read_csv('../data/raw/S&P 500 (SPX)HistoricalData_1730734525504.csv')

## Preview the dataset

In [3]:
df = pd.read_csv('../data/raw/S&P 500 (SPX)HistoricalData_1730734525504.csv')
df.head()

         Date  Close/Last     Open     High      Low
0   11/1/2024     5728.80  5723.22  5772.52  5723.22
1  10/31/2024     5705.45  5775.34  5775.34  5702.86
2  10/30/2024     5813.67  5832.65  5850.94  5811.28
3  10/29/2024     5832.92  5819.68  5847.19  5802.17
4  10/28/2024     5823.52  5833.93  5842.92  5823.08

In [4]:
df.tail()

           Date  Close/Last     Open     High      Low
1253  11/8/2019     3093.08  3081.25  3093.09  3073.58
1254  11/7/2019     3085.18  3087.02  3097.77  3080.23
1255  11/6/2019     3076.78  3075.10  3078.34  3065.89
1256  11/5/2019     3074.62  3080.80  3083.95  3072.15
1257  11/4/2019     3078.27  3078.96  3085.20  3074.87

## Find data information

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1258 non-null   object
 1   Close/Last  1258 non-null   float64
 2   Open        1258 non-null   float64
 3   High        1258 non-null   float64
 4   Low         1258 non-null   float64
dtypes: float64(4), object(1)
memory usage: 49.3+ KB

## Find  Columns and Rows

In [6]:
df.shape

(1258, 5)

# Data Cleaning and Preprocessing

## Check for null values

In [7]:
df.isnull().sum()
print(df.isnull().sum())

Date          0
Close/Last    0
Open          0
High          0
Low           0
dtype: int64

### Check duplicates

In [8]:
#df.duplicated().sum()
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

## Find all columns name

In [9]:
df.columns

Index(['Date', 'Close/Last', 'Open', 'High', 'Low'], dtype='object')

## Check Data Type

In [10]:
df.dtypes

Date           object
Close/Last    float64
Open          float64
High          float64
Low           float64
dtype: object

## Describe() method returns description of the data in the data DataFrame.

In [11]:
df.describe()

        Close/Last         Open         High          Low
count  1258.000000  1258.000000  1258.000000  1258.000000
mean   4169.503299  4168.775676  4193.290922  4142.695541
std     725.561927   725.625542   724.289642   727.032538
min    2237.400000  2290.710000  2300.730000  2191.860000
25%    3735.390000  3733.255000  3764.590000  3709.347500
50%    4165.555000  4164.180000  4186.150000  4134.955000
75%    4541.902500  4546.780000  4563.132500  4524.300000
max    5864.670000  5875.620000  5878.460000  5846.110000

# Filter the dataframe and Display the filtered data

## Convert the date column to datetime format (assuming your date column is named 'Date')

In [12]:
df['Date'] = pd.to_datetime(df['Date'])

## Define the date range as strings

In [13]:
start_date = '2022-01-03'
end_date = '2023-03-23'

## Filter the dataframe

In [14]:
filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

## Display the filtered data

In [15]:
filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
filtered_df.head()

          Date  Close/Last     Open     High      Low
406 2023-03-23     3948.72  3959.21  4007.66  3919.05
407 2023-03-22     3936.97  4002.04  4039.49  3936.17
408 2023-03-21     4002.87  3975.89  4009.08  3971.19
409 2023-03-20     3951.57  3917.47  3956.62  3916.89
410 2023-03-17     3916.64  3958.69  3958.91  3901.27

In [16]:
filtered_df.tail()

          Date  Close/Last     Open     High      Low
708 2022-01-07     4677.03  4697.66  4707.95  4662.74
709 2022-01-06     4696.05  4693.39  4725.01  4671.26
710 2022-01-05     4700.58  4787.99  4797.70  4699.44
711 2022-01-04     4793.54  4804.51  4818.62  4774.27
712 2022-01-03     4796.56  4778.14  4796.64  4758.17

### Check skewness

In [17]:
# Calculate skewness for numeric columns only
filtered_df.skew(numeric_only=True)

Close/Last    0.559388
Open          0.579080
High          0.575468
Low           0.567255
dtype: float64

### Describe() method returns description of the data in the data DataFrame after filter the Data

In [18]:
filtered_df.describe()

,Date,Close/Last,Open,High,Low
count,307,307.000000,307.000000,307.000000,307.000000
mean,2022-08-12 12:49:15.048859904,4080.206710,4081.252410,4114.720228,4043.739674
min,2022-01-03 00:00:00,3577.030000,3520.370000,3608.340000,3491.580000
25%,2022-04-23 12:00:00,3899.115000,3886.025000,3919.165000,3853.035000
50%,2022-08-12 00:00:00,4012.320000,4015.540000,4048.290000,3976.900000
75%,2022-11-30 12:00:00,4272.910000,4267.840000,4296.875000,4205.605000
max,2023-03-23 00:00:00,4796.560000,4804.510000,4818.620000,4774.270000
std,NaN,269.365105,271.197527,268.940992,268.653499

# Remove columns

## Select only the 'Date' and 'Close' columns

In [19]:
selected_df = filtered_df[['Date', 'Close/Last']]

## Display the first few rows of the selected data

In [20]:
selected_df = filtered_df[['Date', 'Close/Last']]
selected_df.head()

          Date  Close/Last
406 2023-03-23     3948.72
407 2023-03-22     3936.97
408 2023-03-21     4002.87
409 2023-03-20     3951.57
410 2023-03-17     3916.64

In [21]:
selected_df.tail()

          Date  Close/Last
708 2022-01-07     4677.03
709 2022-01-06     4696.05
710 2022-01-05     4700.58
711 2022-01-04     4793.54
712 2022-01-03     4796.56

In [22]:
selected_df.dtypes

Date          datetime64[ns]
Close/Last           float64
dtype: object

Creat the S&P500(SPX) CSV file

In [23]:
selected_df.to_csv('../data/clean/02_S&P500(SPX)_clean_data.csv')

Clean S&P500(SPX) data CSV file send to data folder and save.