In [1]:
import pandas as pd

In [4]:
bank_data = pd.read_csv('../data/myusabank.csv')

In [5]:
bank_data.head()

,Date,Interest_Income,Interest_Expense,Average_Earning_Assets,Net_Income,Total_Assets,Shareholder_Equity,Operating_Expenses,Operating_Income,Market_Share,Stock_Price
0,1/3/2022,2121958.0,773237,55001045,1572212.0,95404302,23496605,811672,3494178,24,128
1,1/4/2022,2671155.0,518070,54463418,1336326.0,86440010,24948600,1030817,3231496,20,63
2,1/5/2022,2131932.0,797921,59771802,1224137.0,88674163,26416438,1345961,3692148,22,196
3,1/6/2022,2365838.0,556958,54345760,1452268.0,97221407,29694095,1289921,4779685,14,177
4,1/7/2022,2259178.0,1746222,57153768,3858336.0,98279553,25311499,1432303,4764985,10,103

In [6]:
bank_data.tail(5)

,Date,Interest_Income,Interest_Expense,Average_Earning_Assets,Net_Income,Total_Assets,Shareholder_Equity,Operating_Expenses,Operating_Income,Market_Share,Stock_Price
518,3/3/2023,2513153.0,551934,55397662,1554736.0,96040922,21265898,1068252,4022145,18,169
519,8/23/2022,NaN,866329,50421240,NaN,82229180,21551330,921373,3842210,23,53
520,5/4/2022,2106530.0,736175,51910705,1331770.0,98827165,29454531,973260,3833525,20,123
521,1/18/2023,2879989.0,561476,52562469,1810694.0,83138744,25418952,1141416,4241968,26,142
522,3/23/2023,2811774.0,737027,58204298,1793719.0,82627144,22164412,1160244,4478768,14,106